# dependencies
node_modules/

# macOS
.DS_Store

# Capacitor / iOS
ios/App/Pods/
ios/App/build/
ios/App/App/public/
ios/App/output/
*.xcuserstate
xcuserdata/

# Capacitor / Android
android/build/
android/app/build/
android/.gradle/
android/local.properties
android/app/src/main/assets/public/

# graphify
graphify-out/
graph.json
